<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#chzn-select').chosen();
  });
</script>

<select id='chzn-select'>
  <option> Hello </option>
  <option> World </option>
  <option> How </option>
  <option> Are </option>
  <option> You </option>
</select>
